.containerHeader{
    height: 50vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav{
    background-color: #889EDA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 25px;
    font-weight: bold;
}
.nav p{
   margin: 20px 0px;
   color: black;
}
.contact{
    color: #889EDA!important;
    font-weight: bold;
    rotate: 270deg;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: transparent;
    margin: -50% 0% 0% -90%;
}
.contactP{
    color: #889EDA;
    border: black;
}