.infoCurri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px 10px 0px 10px;
    color: white;
}
.photo{
    width: 100px;
    margin-bottom: 10px;
}
.description{
    font-size: 12px;
    margin: 10px 0px;
}
.containerTitles{
    background-color: #889EDA;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 10px 20px;
    font-size: 15px;
}
.infoHV{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoSkill{
    color: white;
}
.donut{
    width: 15vw!important;
    height: 15vw!important;
    margin-right: 15px;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
@media screen and (min-width:768px)and (max-width:1023px){
    .infoCurri{
        margin: 90px 25px 0px 25px;
    }
    .photo{
        width: 200px;
        margin-bottom: 20px;
    }
    .description{
        font-size: 20px;
        margin: 20px 0px;
    }
    .containerTitles{
        margin: 20px 45px;
        font-size: 30px;
    }
}
@media screen and (min-width:1024px){
    .infoCurri{
        margin: 120px 40px 0px 40px;
    }
    .photo{
        width: 300px;
        margin-bottom: 30px;
    }
    .description{
        font-size: 30px;
        margin: 30px 0px;
    }
    .containerTitles{
        margin: 30px 60px;
        font-size: 40px;
    }
}