.containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px 0px 10px 0px;
}
.name{
    color: white;
    margin: 10px 5px;
    font-size: 12px;
}
.name1{
    color: #889EDA;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: bold;
}
.iconPixel{
    width: 100px;
}
.sub{
    color: white;
    text-decoration: underline;
}
.icon1{
    color: #C62F00 ;
    font-size: 50px;
}
.icon2{
    color: #084FBA;
    font-size: 50px;
}
.icon3{
    background-color: #F6DE05;
    font-size: 40px;
}
.icon4{
    color: #AD0C80;
    font-size: 50px;
}
.logo{
    width: 150px;
}